* {
    margin: 0;
    padding: 0;
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Nanum Pen Script', cursive;
    font-family: 'Noto Sans KR', sans-serif;
    color: #424242;
    box-sizing: border-box;
}
/* 챌린지 바 */
.challenge_bar {
    width: 260px;
    height: 980px;
    float: right;

    padding: 20px;
    overflow-y: scroll;
    box-sizing: border-box;
    /* 그림자 */
    box-shadow: -3px 0px 7px 0.5px rgba(197, 197, 197, 0.301);
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
}
/* 챌린지 바 영역 */
.challenge_bar_section {
    height: 980px;
}
/* .inset_shadow {
 내부 그림자
 position: absolute;
 top: 0;
 right: 0;

 box-shadow: inset -1px -10px 8px -2px rgb(187, 187, 187);

 width: 260px;
 height: 800px;
 background-color: transparent;
} */
/* 챌린지 타이틀 글자 */
.challenge_title {
    display: inline-block;
}
/* 헤더 영역 */
.challenge_header {
    width: 230px;
    height: 130px;
    font-size: 24px;
    margin: 0 auto;
}
/* 생성 버튼 */
.insert_button {
    float: right; /*오른쪽 정렬*/
    width: 50px;
    height: 50px;
    border: none;
    background-color: #FFCACA;
    text-align: center;
    line-height: 50px;
    opacity: 50%;

    border-radius: 5px;
}
.insert_button:hover {
    background-color: #FFCACA;
    opacity: 100%;
}
/* 챌린지 리스트 */
.challenge_list_select { /* 선택 */
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 90px;
    margin-bottom: 10px;
    border: 6px solid #FFE0E0;
    background-color: #FFCACA;
    box-sizing: border-box;

    border-radius: 10px;
}
.challenge_list_not_select { /* 미선택 */
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 90px;
    margin-bottom: 10px;
    border: 6px solid #FFE0E0;
    background-color: white;
    box-sizing: border-box;

    border-radius: 10px;
}
/* 챌린지 리스트 그림자 */
.challenge_list_shadow {
    box-shadow: 1px 1px 2px 0.5px #0000003f;
}


  /* ------------------------- */
  /* 스크롤바 설정*/
  .box1::-webkit-scrollbar{
    width: 0px;
  }
  
  /* 스크롤바 막대 설정*/
  .box1::-webkit-scrollbar-thumb{
    background-color: transparent;
  }
  /* ----------------------------- */


  .challenge_list_select_2 { /* 선택 */
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 90px;
    margin-bottom: 10px;
    border: 6px solid #FFE0E0;
    background-image: url("../img/AurelionSol_0.jpg");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    color: #fff;
    border-radius: 10px;
}

.challenge_highlight {
    background-color: #FFCACA;
}
