* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Nanum Pen Script', cursive;
    font-family: 'Noto Sans KR', sans-serif;
    color: #424242;
}
.red {
    color: #D36969;
}
ul {
    list-style: none;
}
li {
    margin-left: 3px;
    line-height: 25px;
}
/* 리스트 헤더 영역 */

/* 리스트 제목 */
.list_com_title {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-left: 30px;
    margin-bottom: 15px;
}
/* 리스트 날짜 */
.list_date{
    display: inline-block;
    font-size: 11px;
    margin-left: 10px;
    color: #727272;
}
/* 리스트 줄 */
.border_line {
    border-top: 3px solid #FFCACA;
    margin-left: 34px;
    margin-top: 3px;
}
/* 메인 BG 영역 */
.section-in {
	background-color: #F2F4F7;
	width: 1500px;
	height: 900px;
	padding: 35px 60px;

	position: relative;
	margin-left: 200px;
	margin-top: 80px;
	border-radius: 50px 0 0 50px / 50px 0 0 50px;
}
/* 리스트 영역 */
.list_section {
    width: 1400px;
    height: 100%;
}
/* 리스트 */
.list_com_bg {
    float: left;
    font-size: 14px;

    box-sizing: border-box;
    width: 400px;
    height: 255px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding-top: 18px;
    margin-left: 40px;
    margin-bottom: 30px;

}
/* 리스트 내부 선 */
.list_com_border {
    box-sizing: border-box;
    width: 360px;
    height: 215px;
    border: 3px solid #FFCACA;
    border-radius: 15px;
    margin: 0 auto;
    padding: 20px;
    /* 리스트 줄 오른쪽 */
    padding-right: 50px;
}
/* 불릿 CSS */
.bullet {
    width: 15px;
	height: 15px;
	background-color: #FFCACA;
	border-radius: 50%;
	display: inline-block;
    margin-right: 13px;
    vertical-align: middle;
}
/* 삭제버튼 */
.list_delete {
    display: inline-block;
    width: 30px;
    height: 20px;
    margin-left: 300px;
}
/* 페이지 버튼 영역 */
.page_section {
    position: fixed;
    left: 50%;
    transform: translateX( -50% );
    bottom: 30px;
}
/* 페이지 버튼 */
.bbg, .page_prev_button, .page_next_button {
    display: inline-block;

    width: 30px;
    height: 30px;

    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    color: #000;
    background-color: #ffffff;
}
/* 버튼 활성화 */
.act_bbg {
    display: inline-block;

    width: 30px;
    height: 30px;

    border-radius: 50%;
    text-align: center;
    line-height: 30px;

    background-color: #FFCACA;
    color: rgb(255, 255, 255);
}
/* 버튼 그림자 */
.button_shadow {
    box-shadow: 0px 1px 3px 0.5px #d6d6d6;
}
/* 휴지통 버튼 */
.delete_button {
  border: none;
  background-image: url("../img/icon_trash_.png");
  background-size:contain;
  background-repeat: no-repeat;
  background-color: transparent;
  display: inline-block;
  width: 30px;
  height: 20px;
  margin-left: 300px;
  cursor: pointer;
}
.pink {
    color: #FFCACA;
}