
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.delete_body {
	background-image: url("../img/AurelionSol_0.jpg");
	background-size: cover;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, 0.454);
}	

.abc{
	width: 100vw;
	height: 100vh;
	background-color: rgba(159, 159, 159, 0.6);
	display: grid;
	align-items: center;
}


.cancel_box {
	box-sizing: border-box;
	border-radius: 5%;
	width: 501px;
	height: 294px;
	background-color: rgba(54, 54, 54, 0.5);
	color: rgb(251, 251, 251);
	text-align: center;
	margin: 0 auto;
}

table {
	font-size: large;
}

/* button{
	box-sizing: border-box;
	border-style: none;
	background-color: white;
	width: 110px;
	height: 40px;
	font-size: large;
	margin-bottom: -200px;
	border-radius: 10%;
} */

form {
	margin: auto;
	width: 400px;
	height: 50px;
	position: relative;
}


.btn1 {
	box-sizing: border-box;
	border-style: none;
	background-color: white;
	width: 110px;
	height: 40px;
	font-size: large;
	margin-bottom: -200px;
	border-radius: 10%;
	margin-right: 200px;
	position: absolute;
	left: 0px;
	top: 0px;
	line-height: 35px;
	text-decoration: none;
}
.btn2 {
	display: inline-block;
	box-sizing: border-box;
	border-style: none;
	background-color: white;
	width: 110px;
	height: 40px;
	font-size: large;
	margin-bottom: -200px;
	border-radius: 10%;
	position: absolute;
	right: 0px;
	top: 0px;
	line-height: 35px;
	color: red;
}

button {
	cursor: pointer;
}