/* 메인 BG 영역 */
.section-in {
	background-color: #F2F4F7;
	width: 1500px;
	height: 900px;
	padding: 35px 60px;

	position: relative;
	margin-left: 200px;
	margin-top: 80px;
	border-radius: 50px 0 0 50px / 50px 0 0 50px;
}
.err_msg {
	text-align: center;
	line-height: 800px;
	color: gray;
}

