* {
	margin: 0;
	padding: 0;
}

.section-nav {
	width: 200px;
	float: left;
	background-color: white;
}

.section-div {
	display: inline-block;
	margin: 50px 30px;

}

.p-nav {
	font-weight: bold;
}

.box-in {
	width: 10px;
	height: 10px;
	background-color: #5398F8;
	border-radius: 50%;
	display: inline-block;
	
}

.box-com {
	width: 10px;
	height: 10px;
	background-color: #44DE54;
	border-radius: 50%;
	display: inline-block;
}

.a_a {
	text-decoration: none;
	color: rgb(224, 224, 224);
}

div>.box-color {
	color: black;
}